repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: uv run black
        language: system
        types: [python]

      - id: isort
        name: isort
        entry: uv run isort
        language: system
        types: [python]

      - id: ruff
        name: ruff
        entry: uv run ruff check --fix
        language: system
        types: [python]
